{% extends "base.html" %}

{% block content %}

<div class="container">

  <h1 class="mb-0">FAQ</h1>

  <!-- Card stats -->
  <div class="row">
    <div class="col-xl-12 mb-5 mb-xl-0">
      <div class="card shadow">

        <div class="accordion" id="accordionExample">
          <div class="card">
            <div class="card-header" id="heading-1">
              <button class="btn btn-link" type="button" data-toggle="collapse" data-target="#collapse-1"
                aria-expanded="true" aria-controls="collapse-1" style="width: 100%; text-align: left;">
                What's Mejai's Soulstealer for?
              </button>
            </div>

            <div id="collapse-1" class="collapse" aria-labelledby="heading-1" data-parent="#accordionExample">
              <div class="card-body">
                <div class="card">
                  <div class="card-body">
                    <h5 class="card-title">fstqwq:</h5>
                    <blockquote style="margin-left: 2em;">
                      <p class="card-text">This project is a tracker that helps competitive programming participants to
                        <span class="text-primary" style="font-weight:500" title="as kenkoooo to AtCoder">track problem
                          solving status</span>. It hopes to <span class="text-primary" style="font-weight:500">make
                          things more scheduled and make users more powerful</span>. I want to give it a name from the
                        game <em>League of Legends</em>. Is "Mejai's Soulstealer" a good name?</p>
                    </blockquote>
                  </div>
                </div>
                <div class="card">
                  <div class="card-body">
                    <h5 class="card-title">ChatGPT:</h5>
                    <blockquote style="margin-left: 2em;">
                      <p class="card-text">"Mejai's Soulstealer" is a good name for a competitive programming tracker
                        that helps participants to track their problem solving status. The name is derived from the game
                        "League of Legends" and refers to an item that grants its user additional power and abilities,
                        which is a fitting metaphor for a tool that helps competitive programmers to improve their
                        skills and become more powerful.</p>
                      <p class="card-text">In the game, <a
                          href="https://leagueoflegends.fandom.com/wiki/Mejai%27s_Soulstealer" style="font-weight: 500;"
                          target="_blank"
                          title="+20 ability power&#10;+100 health&#10;Unique - Glory: Gain 4 stacks for each champion kill and 2 stacks for each assist, up to a maximum of 25 stacks. Lose 10 stacks on death. Stacks are preserved from Dark Seal.&#10;Unique - Dread: Gain 5 ability power for each stack of Glory, up to 125 at maximum stacks, and 10% bonus movement speed if you have at least 10 stacks.">Mejai's
                          Soulstealer</a>
                        is an item that grants additional ability power and cooldown reduction to the user, but it also
                        comes with a risk. If the user dies, they lose a portion of the bonuses granted by the item.
                        This risk-reward aspect of the item is also a fitting metaphor for a competitive programming
                        tracker, as it <span class="text-primary" style="font-weight:500">encourages users to push
                          themselves to improve, but also reminds them to be careful and avoid making mistakes that
                          could set them back</span>.</p>
                      <p class="card-text">Overall, "Mejai's Soulstealer" is a creative and fitting name for a
                        competitive programming tracker, and it could help to attract users who are fans of the game
                        "League of Legends".</p>
                    </blockquote>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

</div>


{% endblock %}