{% extends "base.html" %}

{% block content %}
    <h1 class="mb-0">Welcome to Mejai's Soulstealer</h1>
    
    <form action="/show" method="GET">
        <p><label for="ids">Entry CF IDs:</label><br>
        <input type="text" name="ids" id="ids"></p>
        <p><button class="btn btn-primary" type="submit">Submit</button></p>
        {% if data.err_msg %}
        <p class="text-danger">{{data.err_msg}}</p>
        {% endif %}
    </form>
    <form action="/add" method="POST">
        <p><label for="add">Add ID for watch:</label><br>
        <input type="text" name="add" id="add"></p>
        <p><button class="btn btn-primary" type="submit">Submit</button></p>
        {% if data.success_info %}
        <p class="text-success">{{data.success_info}}</p>
        {% elif data.info %}
        <p class="text-info">{{data.info}}</p>
        {% endif %}
    </form>
    <!--
        <form action="/query" method="POST">
            <p><label for="cf">Legacy: Entry CF IDs seperated by ';':</label><br>
            <input type="text" name="cf" id="cf"></p>
            <p><button class="btn btn-primary" type="submit">Submit</button></p>
        </form>
    -->
{% endblock %}

