{% extends "base.html" %}

{% block content %}
<!-- Header -->
<!-- <div class="header bg-gradient-primary pb-8 pt-5 pt-md-8"> -->
<!-- Card stats -->
<div class="row">
    <div class="col-xl-12 mb-5 mb-xl-0">
        <div class="card shadow">
            <div class="card-header border-0">
                <div class="row align-items-center">
                    <div class="col">
                        <h3 class="mb-0">Contest Standings: <span
                                class="{{rated_color[concerned]}}">{{concerned}}</span> </h3>
                    </div>
                </div>
            </div>

            <div class="accordion" id="accordionExample" data-accordion-auto-fold="false">
                {% for contest in contests %}
                <div class="card">
                    <div class="card contest{{contest.concerned_status}}" style="padding:0px 0px; flex-direction: row;">
                        <div class="card card-contest-name" id="heading-{{ contest.id }}">
                            <button class="btn btn-link" type="button" data-toggle="collapse"
                                data-target="#collapse-{{ contest.id }}" aria-expanded="true"
                                aria-controls="collapse-{{ contest.id }}"
                                style="background-color: rgba(0, 0, 0, 0); overflow: hidden;">
                                {{ contest.name }}
                            </button>
                        </div>
                        {% if contest.query_status != "OK" %}
                        <div class="card" id="heading-{{ contest.id }}" style="padding:0px 0px;">
                            <p>{{ contest.query_status}}</p>
                        </div>
                        {% else %}
                        {% for problem in contest.query_result['problems'] %}
                        <div class="card {{'problem-accepted' if problem['concerned_accepted'] else 'problem-rejected' if problem['concerned_attemped'] else 'problem-no'}}"
                            id="heading-{{ contest.id }}-{{ problem.index }}">
                            <p class="{{problem.rating | color_from_rating}}"
                                style="text-align: center; margin: auto; font-weight: 500 !important;">{{problem.index}}</p>
                        </div>
                        {% endfor %}
                        {% endif %}
                    </div>

                    <div id="collapse-{{ contest.id }}" class="collapse" aria-labelledby="heading-{{ contest.id }}" data-parent="#accordionExample">
                        <div class="card-body" style="padding:0px 0px;">
                            {% if contest.query_status == "OK" %}
                                {% for row in contest.query_result['rows'] %}
                                <div class="card
                                            card-participant
                                            {% for m in row['party']['members'] %}
                                                {% if m['handle'] == concerned %}
                                                    card-concered
                                                {% endif %}
                                            {% endfor %}" style="padding:0px 0px; flex-direction: row;">
                                    <div class="card card-rank">
                                        <span class="participant{{row['party']['participantType']}}">{{ row['rank'] if
                                            row['party']['participantType'] == 'CONTESTANT' else (row['rank'] | string) +
                                            ("<sup>#</sup>" | safe) if (row['party']['participantType'] == 'VIRTUAL' or
                                            row['party']['participantType'] == 'OUT_OF_COMPETITION') else "*" }}</span>
                                    </div>
                                    <div class="card card-name">
                                        {%
                                            for m in row['party']['members']
                                        %}<span class="{{rated_color[m['handle']]}}">{{ m['handle'] }}</span>{%
                                        endfor
                                        %}{%
                                            if row['party']['participantType'] != 'CONTESTANT'
                                        %}<span
                                            class="participant{{row['party']['participantType']}} participant_notation"><sub>{{row['party']['participantType']}}</sub></span>
                                        {% endif %}
                                    </div>
                                    <div class="card card-cell"></div>
                                    {% for problem in row['problemResults'] %}
                                    <div class="card card-cell">
                                        {% if problem['points'] > 0 %}
                                            <p class="accepted-submission">+{{ problem['rejectedAttemptCount'] if problem['rejectedAttemptCount'] > 0}}</p>
                                        {% elif problem['rejectedAttemptCount'] > 0 %}
                                            <p class="rejected-submission">-{{ problem['rejectedAttemptCount'] }}</p>
                                        {% else %}<p class="no-submission">-</p>
                                        {% endif %}
                                    </div>
                                    {% endfor %}
                                </div>
                                {% endfor %}
                            {% endif %}
                        </div>
                    </div>
                </div>
                {% endfor %}
            </div>


        </div>
    </div>
</div>
<!-- </div> -->

{% endblock %}